/* Body */
body {
  background-color: #ececec;
  font-family: "Satisfy", cursive; }
  body p {
    font-size: 1.25em; }

h1 {
  color: #92161c; }

#reserveModal .modal-header {
  background-color: #bcbbc7; }

#reserveModal .col-form-label {
  font-size: 1.25em; }

/* Navigation */
.nav-link,
.navbar-brand {
  font-size: 1.5em; }

.navbar {
  margin-top: 0;
  padding-top: 0; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

header {
  background-color: #ebebeb;
  font-family: "Comforter", cursive; }
  header h1 {
    font-size: 5em;
    color: #e1e8f1;
    margin-left: 20px;
    letter-spacing: 2px; }
  header h2 {
    font-size: 3em;
    color: #e1e8f1;
    margin-left: 20px; 
    letter-spacing: 2px;}

header video {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover; }

.container {
  position: relative; }

.container video {
  position: relative;
  z-index: 0; }

/* use the CSS position property in combination with the z-index property to overlay an individual div over another div element. */
.overlay {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1; }

#reserveButton {
  margin-left: 20px;
  font-size: 30px;
  letter-spacing: 3px; }

.card-title {
  color: #92161c;
  font-size: 2em;
  background-color: rgba(235, 225, 225, 0.5); }

/* Events Page */
.d-grid button {
  font-size: 2em; }

#ticketModal .modal-header {
  background-color: #bcbbc7;
  color: #92161c; }

/* Contact Page */
address {
  font-family: "Satisfy", cursive; }

/* Section: Footer */
.site-footer {
  padding-top: 20px;
  padding-bottom:20px;
  background-color: #cacaca; }

/* Images */
/* Media Queries */
