/* Body */
body {
  background-color: #e1e8f1;
  /* font-family: 'Yuji Boku', serif; */
  /* font-family: 'Sassy Frass', cursive; */
  /* font-family: 'Satisfy', cursive; */
  font-family: "Comforter", cursive; }

/* Navigation */
.nav-link,
.navbar-brand {
  font-size: 1.5em; }

.navbar {
  margin-top: 0;
  padding-top: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-size: 3em;
  /* font-family: 'Yuji Boku', serif; */
  /* font-family: 'Sassy Frass', cursive; */
  font-family: "Comforter", cursive;
  color: #413243; }

header {
  background-color: #e1e8f1; }

.container {
  position: relative; }

.container video {
  position: relative;
  z-index: 0; }

/* use the CSS position property in combination with the z-index property to overlay an individual div over another div element. */
.overlay {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1; }

.overlay, h1, h2 {
  margin-left: 100px; }

/* About Page */
/* Contact Page */
/* Sites Page */
/* Section: Footer */
/* Images */
/* Media Queries */
