$color-primary: #413243;
$color-secondary: #715a74;
$color-pale: #bcbbc7;
$color-mid: #ae8fb6;
$color-dark: #37223a;
$color-body:#ececec;

$color-grey-transparent: rgba(235, 225, 225, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-background: rgb(235, 235, 235);
$color-header: #e1e8f1;
$color-footer:#cacaca;

$card-title: #92161c;

$body-font: 'Satisfy', cursive;
$header-font: 'Comforter', cursive;

/* Body */
body {
	// background-color: #d0c4b4;
	// background-color: #d9d0c2;
	background-color:$color-body;
	font-family: $body-font;
	p{
		font-size:1.25em;
	}
}

h1{
	color: $card-title;
}
// Reserve Modal

#reserveModal {
	.modal-header {
		background-color:$color-pale;
	}
	.col-form-label{
		font-size:1.25em;
	}
}

/* Navigation */

.nav-link,
.navbar-brand {
	font-size: 1.5em;
}
.navbar {
	margin-top: 0;
	padding-top: 0;
}
.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}

// .card{
// 	display:inline-block;
	
// }

header {
	background-color: $color-background;
	font-family: $header-font;
	h1 {
		font-size: 5em;
		color:$color-header;
		margin-left: 20px;
	}
	h2 {
		font-size: 3em;
		color:$color-header;
		margin-left: 20px;
	}
}

header video {
	display: block;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.container {
	position: relative;
}
.container video {
	position: relative;
	z-index: 0;
}
/* use the CSS position property in combination with the z-index property to overlay an individual div over another div element. */

.overlay {
	position: absolute;
	top: 0;
	margin: 0;
	z-index: 1;
}

#reserveButton{
	margin-left: 20px;;
}

.card-title {
	color: $card-title;
	font-size: 2em;
	background-color: $color-grey-transparent;
}

/* Events Page */
.d-grid button{
	font-size: 2em;
}

/* Contact Page */

  
address {
	font-family: $body-font;
}

/* Section: Footer */

.site-footer {
	padding-top: 20px;
	background-color: $color-footer;
}

/* Images */

/* Media Queries */
