$color-primary: #413243;
$color-secondary: #715a74;
$color-pale: #bcbbc7;
$color-mid: #ae8fb6;
$color-dark: #37223a;

$color-grey-transparent: rgba(235, 225, 225, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-background: rgb(235, 235, 235);
$color-header: #e1e8f1;

$card-title: #92161c;

$body-font: 'Satisfy', cursive;
$header-font: 'Comforter', cursive;

/* Body */
body {
	// background-color: #d0c4b4;
	background-color: #d9d0c2;
	font-family: $body-font;
}

/* Navigation */

.nav-link,
.navbar-brand {
	font-size: 1.5em;
}
.navbar {
	margin-top: 0;
	padding-top: 0;
	background-color:#f6f6f6
}
.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}

header {
	background-color: $color-background;
	font-family: $header-font;
	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 3em;
	}
}

#landscape {
	display: block;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

#wine {
	display: block;
	width: 70%;
	height: 400px;
	object-fit: cover;
}

.container {
	position: relative;
}
.container video {
	position: relative;
	z-index: 0;
}
/* use the CSS position property in combination with the z-index property to overlay an individual div over another div element. */

.overlay {
	position: absolute;
	top: 0;
	margin: 0;
	z-index: 1;
}

.overlay,
h1,
h2 {
	margin-left: 20px;
	color:$color-header;
}

.card-title {
	color: $card-title;
	font-size: 2em;
	background-color: $color-grey-transparent;
}

/* About Page */

/* Contact Page */

address {
	font-family: $body-font;
}

/* Section: Footer */


.site-footer {
	padding-top: 20px;
	background-color:#f6f6f6;
}

/* Images */

/* Media Queries */
