/* Body */
body {
  background-color: #ececec;
  font-family: "Satisfy", cursive;
}


h1 {
  color: #92161c; }

#reserveModal .modal-header {
  background-color: #bcbbc7; }

#reserveModal .col-form-label {
  font-size: 1.25em; }

/* Navigation */
.nav-link,
.navbar-brand {
  font-size: 2em; 
  letter-spacing: 3px;}

.navbar {
  margin-top: 0;
  padding-top: 0; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

  .nav-link:hover{
    background-color:rgb(171, 186, 179);
}
.navbar-brand:hover{
  background-color:rgb(237, 224, 230);
}

.navbar-brand{
  margin-left: 40px;
  font-size:2.6em;
}

.nav-link{
  margin-right: 20px;
  font-size:2em;
}
header {
  background-color: #ebebeb;
  font-family: "Comforter", cursive; }
  header h1 {
    font-size: 6em;
    font-weight: bold;
    color: #e1e8f1;
    margin-left: 20px;
    letter-spacing: 10px; }
  header h2 {
    font-size: 3em;
    font-weight: bold;
    color: #e1e8f1;
    margin-left: 20px; 
    letter-spacing: 10px;}

header video {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover; }

.container {
  position: relative; }

.container video {
  position: relative;
  z-index: 0; }

/* use the CSS position property in combination with the z-index property to overlay an individual div over another div element. */
.overlay {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1; }

#reserveButton {
  margin-left: 20px;
  font-size: 40px;
  letter-spacing: 6px; }

p.text-center{
   font-size: 25px;
   letter-spacing:2px;
}

.site--contents{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.site--contents h1{
  font-size: 2.8em;
  text-align: center;
}

.site--contents p{
  font-size: 2em;
  text-align: center;
  color:rgba(11, 11, 11, 0.5);
}

.card-title {
  color: #92161c;
  font-size: 2em;
  background-color: rgba(235, 225, 225, 0.5); 
}

p.card-text {
  color:#ebebeb;
  text-align: left;
  font-size: 1.6em;
}

.card{
  margin: 20px;
}

.card--items .btn-secondary{
  font-size: 1.2em;
  letter-spacing: 1.2px;
}

/* Events Page */

.card-events{
  font-size: 1.4em;
  letter-spacing: 2px;
}

.d-grid button {
  font-size: 2em; }

#ticketModal .modal-header {
  background-color: #bcbbc7;
  color: #92161c; }

/* Contact Page */
address {
  font-family: "Satisfy", cursive; 
  font-size: 1.2em;
  letter-spacing: 4px;
}

.contact--items{
  font-size: 1.4em;
  letter-spacing: 4px;
}

/* Section: Footer */
.site-footer {
  padding-top: 20px;
  padding-bottom:20px;
  background-color: #cacaca; }

 ul, .btn-link{
  font-size: 20px;
  letter-spacing:2px;

  }

  li{
    font-size:1.1em;
  }

  .site-footer, h5{
    font-size: 1.3em;
  }

  .fa--icons{
    margin-top: 20px;
  }

  /* Wine club */
.club--section h1{
  font-size: 3em;
  text-align: center;
}

.club--section p{
  font-size: 1.8em;
  text-align: center;
}

.club--items h5{
  font-size: 2.8em;
  letter-spacing: 1px;
}

.club--items p{
  font-size: 1.8em;
  text-align: left;
  letter-spacing: 1px;
}

.club--items .btn-secondary{
  font-size: 1.4em;
  letter-spacing: 1.5px;
}

   /* Tours & Tastings */ 
hr{
  margin:50px;

}

.tour--items{
  padding: 40px;
}
/* Images */
/* Media Queries */
